﻿<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="startStopSelect">Start stop</label>

                    <ui-select ng-model="startStop.selected"
                               ng-disabled="disabled"
                               theme="bootstrap"
                               reset-search-input="false"                              
                               title="Choose a stop">
                        <ui-select-match placeholder="Enter a stop...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="startStop in startStopList track by $index"
                                           refresh="refreshStops($select.search, 'startStopList')" refresh-delay="400">
                            <div ng-bind-html="startStop.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="endStopSelect">End Stop</label>
                    <ui-select ng-model="endStop.selected"
                               ng-disabled="disabled"
                               theme="bootstrap"
                               reset-search-input="false"
                               title="Choose a stop">
                        <ui-select-match placeholder="Enter a stop...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="endStop in endStopList track by $index"
                                           refresh="refreshStops($select.search, 'endStopList')" refresh-delay="400">
                            <div ng-bind-html="endStop.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="btn btn-info" ng-click="calculate(startStop.selected, endStop.selected)">Calculate</div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>

            <div class="alert alert-info" id="result" ng-show="distance">{{distance}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />

            <div class="alert alert-success" id="result" ng-show="history">
                <div ng-repeat="historyItem in history">{{historyItem}}</div>
            </div>
        </div>
    </div>
</div>

