﻿<div class="jumbotron">
    <h1>SDC - Stop distance calculator</h1>
    <p>Stop distance calculator is built for distance knowledge and ease of use. Distance calculation with SDC is so simple that you’ll actually use it. IT'S INSANELY SIMPLE!</p>
    <p><a class="btn btn-lg btn-success" href="#calculator" role="button">Try it for free</a></p>
</div><!--/.jumbotron -->